<h1>Filtro</h1>

<form [formGroup]="form" (ngSubmit)="save($event)">
    <label class="my-1 mr-2" for="company">Compañia</label>
    <select formControlName="company" class="custom-select my-1 mr-sm-2" id="company">
      
      <option selected>All</option>
      <option value={{item}} *ngFor="let item of companies">{{item}}</option>
    </select>

    <label class="my-1 mr-2" for="user">Usuario</label>
    <select formControlName="user" class="custom-select my-1 mr-sm-2" id="user">
      <option selected>All</option>
      <option value={{item}} *ngFor="let item of users">{{item}}</option>
    </select>

    <mat-form-field appearance="fill">
      <mat-label>All</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input formControlName="startDate" matStartDate placeholder="Start date">
        <input formControlName="endDate" matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <div>
      <div class="row">
        <label class="ml-3" for="interval">Intervalo Activo</label>
      </div>
      <div class="row ml-1">
        <mat-slider min="1" max="60" value="15" thumbLabel tickInterval="1"></mat-slider>
      </div>
    </div>
    
    <div class=ml-1>
      <button 
        type="submit" 
        class="btn btn-primary my-1" >
        Filtrar
    </button>
    </div>
    
  </form>

